.about{
    margin-top: 2rem;
   
    @media screen and (min-width:768px) {
        margin: 0 100px;
    }
    p,button{
        font-size: 1.5rem;
    }
    p{
        padding: 1.1rem;
        
    }
} 
.header, .header figure .overlay  {
        height: 223px!important;
    }