nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    ul{
        display: flex;
        list-style: none;
        
        li{

           padding: 0.5rem 1rem;
            a{ 
                
                color: var(--primary);
                text-decoration: none;
            }
        }
    }
}
