.appartment-details {
    header {

        figure {

            img {
                width: 100%;
                max-height:415px;
                object-fit: cover;
            }

            figcaption {
                color: var(--primary);
                font-size: 1.3rem;
            }
        }
    }

    .infos {
        .location {
            color: var(--primary);
            margin: 0.75rem 0;
        }

        .tags {
            list-style: none;
            display: flex;
            flex-flow: row wrap;

            li {
                background: var(--primary);
                padding: 0.5rem 1rem;
                margin-bottom: 0.5rem;
                color: white;
                border-radius: 5px;
                margin-right: 0.75rem;
                font-size: 0.8rem;
            }
        }


    }

    .rating-and-host {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .rating {
            display: flex;
            list-style: none;
        }

        .host{
            figure{
                display: flex;
                flex-flow: row-reverse;

                img{
                    width:32px;
                    height: 32px;
                    border-radius: 50%;
                    margin-left: 0.5rem;
                }

                figcaption{
                    display: flex;
                    flex-flow: column;
                    font-size: 0.7rem;
                    color: var(--primary);
                }
            }
        }
    }
}